* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.br-20 {
  border-radius: 20px;
}

.title, h2 {
  width: 90%;
  padding: 10px;
  margin: 50px auto;
  text-align: center;
  border-top: 4px black solid;
  border-bottom: 4px black solid;
  font-size: 40px;
  border-radius: 30px;
}

@media (min-width: 992px) {
  .title, h2 {
    width: 80%;
    border-top: 8px black solid;
    border-bottom: 8px black solid;
    font-size: 70px;
  }
}
.navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}
.navbar ul {
  display: none;
  margin: 30px;
  width: 100%;
  background-color: aliceblue;
}
.navbar ul li {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 10px 0;
}
.navbar ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #292929;
  transition: 2s all ease;
}
.navbar ul li a:hover {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .navbar {
    background-color: rgba(240, 248, 255, 0.2);
    transition: 0.5s all ease-in-out;
    flex-direction: row;
    justify-content: space-around;
  }
  .navbar ul {
    display: inline-block;
    width: auto;
    background-color: rgba(240, 248, 255, 0);
  }
  .navbar ul li {
    width: auto;
    margin: 0 20px;
  }

  .navbar:hover {
    background-color: aliceblue;
  }
}
#home {
  width: 100%;
  height: 100vh;
  background-image: url("../IMAGENES/lenteMicroscopio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-home {
  left: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  background-color: rgba(240, 248, 255, 0.295);
}
.text-home h1 {
  font-size: 40px;
}
.text-home h3 {
  font-size: 20px;
  margin-top: 10px;
}

#nosotros p {
  padding: 10px 20px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  .text-home h3 {
    font-size: 30px;
    margin-top: 15px;
  }

  #nosotros p {
    padding: 10px 40px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }
}
@media (min-width: 992px) {
  .text-home {
    width: 60%;
    clip-path: polygon(0 0, 57% 0, 100% 100%, 0% 100%);
  }
  .text-home h1 {
    font-size: 70px;
  }
  .text-home h3 {
    font-size: 20px;
  }

  #nosotros p {
    font-size: 25px;
    padding: 20px 10%;
  }
}
.relative {
  position: relative;
  top: 0;
  left: 0;
}

.absolute {
  position: absolute;
}

.w-100 {
  width: 100%;
}

.container-promociones {
  width: 100%;
  padding: 10px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
}

.container-promo {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 45vw;
  margin: 20px auto;
  background-color: palevioletred;
  border-radius: 20px;
}

.title-promo {
  background: goldenrod;
  display: inline-block;
  border-radius: 20px;
  font-size: medium;
  padding: 1px 2px;
}

.img-promo {
  background-color: violet;
  width: 100%;
  height: 100%;
}

.text-promo {
  padding: 30px;
  background-color: rgba(4, 82, 56, 0.822);
  border-radius: 20px;
  color: aliceblue;
  width: 100%;
  height: 100%;
  text-align: justify;
  overflow-y: scroll;
  opacity: 0;
  transition: 1s all ease;
}
.text-promo p:first-child {
  text-align: center;
}

.text-promo:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .title-promo {
    border-radius: 20px;
    font-size: medium;
    padding: 4px 10px;
  }
}
@media (min-width: 992px) {
  .container-promociones {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .container-promo {
    width: 100%;
    height: 400px;
  }

  .text-promo {
    font-size: medium;
    padding: 1px 2px;
    opacity: 0;
    transition: 1s all ease;
    overflow-y: hidden;
  }
  .text-promo p {
    margin: 10px 30px;
    font-size: large;
  }
  .text-promo p:first-child {
    font-size: larger;
  }

  .text-promo:hover {
    opacity: 1;
  }
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev, .next {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#ubicacion {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
}

.maps iframe {
  width: 100%;
}

@media (min-width: 768px) {
  #ubicacion {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #ubicacion h2 {
    width: 100%;
  }

  .maps {
    width: 60%;
  }

  .direction {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#contacto {
  width: 100%;
  padding: 10px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
#contacto article {
  margin: 40px 0;
}
#contacto article h4 {
  text-align: center;
  margin-top: 10px;
}
#contacto article p {
  margin-bottom: 20px;
  text-align: center;
}
#contacto article a {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-emphasis: inherit;
  color: black;
  font-size: 12px;
}
#contacto form {
  width: 80%;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(105, 105, 105, 0.61);
  border: 2px solid black;
  color: wheat;
  text-align: center;
  font-size: large;
  font-weight: 600;
}
#contacto form input, #contacto form select {
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  font-size: medium;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#contacto form textarea {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #f1fcf9;
}
#contacto form div {
  width: 100%;
}
#contacto form button {
  width: 80%;
  margin: 10px auto;
  background: black;
  color: #fcfcfc;
  font-weight: 900;
  padding: 5px 10px;
}
#contacto form input, #contacto form textarea, #contacto form button {
  border-radius: 20px;
}

@media (min-width: 992px) {
  #contacto {
    width: 100%;
    padding: 30px 20px;
    justify-content: space-between;
  }
  #contacto article {
    width: 40%;
  }
  #contacto article h4 {
    font-size: large;
    font-weight: 900;
  }
  #contacto article a, #contacto article p {
    font-size: medium;
    font-weight: 400;
  }
  #contacto form {
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 15px 15px 5px #5c5c5c;
  }
  #contacto form div {
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
