
#contacto{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    form{
        width: 80%;
        max-width: 500px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        border: 1px solid red;
        input{
            width: 100%;
        }
        textarea{
            width: 100%;
            height: auto;
            background-color: pink;
        }
        div{
            width: 100%;
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    #contacto{
        width: 100%;
        form{
            border: 1px solid red;
            div{
                width: 50%;
            }
        }
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }