*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.br-20{
    border-radius: 20px;
}
.title, h2{
    width: 90%;
    padding: 10px;
    margin: 50px auto;
    text-align: center;
    border-top: 4px rgb(0, 0, 0) solid;
    border-bottom: 4px rgb(0, 0, 0) solid;
    font-size: 40px;
    border-radius: 30px
}
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .title, h2{
        width: 80%;
        border-top: 8px rgb(0, 0, 0) solid;
        border-bottom: 8px rgb(0, 0, 0) solid;
        font-size: 70px;
    }
 }

@import "./navbar";
@import "./header";
@import "./promo";
@import "./paquetes";
@import "./ubicacion";
@import "./contactos";
@import "./footer";